<div class="social_button clearfix">
  <div class="facebook">
    <div class="fb-share-button" data-href="<%= url %>" data-layout="button" data-size="small" data-mobile-inframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode(url) %>&amp;src=sdkpreparse">シェア</a></div>
  </div>
  
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>">Tweet</a>
  </div>
</div>