div.wrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  
  p.alert {
    color: red;
    margin: 0;
    padding: 0;
  }
  
  div.links {
    text-align: right;
  }
}

#error_explanation {
  color: red;
}